@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay Regular";
  src: url("/assets/font/ClashDisplay-Regular.otf") format("opentype");
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--white-color);
  font-family: "ClashDisplay Regular";
}

/* Colors */
:root {
  --white-color: #ffffff;
  --head-light: #fafafa;
  --head-dark: #0c1136;
  --black: #000000;
  --btn-color: #cdea67;
  --amenities-color: #20273c;
  --amenities-para-color: #303454;
  --para1-dark: #949494;
  --para2-light: #6a6a6a;
}
::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* gsap css */
.slide-up,
.slide-up-trigger,
.book-up-trigger,
.slide-right {
  visibility: hidden;
}

.book-up-trigger,
.book-up-video,
.book-left-trigger,
.book-right-trigger {
  transform: perspective(600px);
}

/* Heading 3  (56px)*/
.head-64 {
  font-size: 4rem;
}

.head-56 {
  font-size: 3.5rem;
}

.head-14 {
  font-size: 0.9rem;
}

.head-btn {
  font-size: 1rem;
}

.text-22 {
  font-size: 1.4rem;
}

.project-btn {
  border: 0.75px solid rgba(255, 255, 255, 0.5);
  font-size: 1.3rem;
}

.input-style {
  background: transparent;

  border-bottom: 1px solid #909090;
  padding-bottom: 0.5rem;
}

.input-full {
  background: transparent;
  width: 100%;
  border-bottom: 1px solid #909090;
  padding-bottom: 0.5rem;
  color: #121112;
}

@media (max-width: 1439px) and (min-width: 1024px) {
  .head-56 {
    font-size: 2.5rem !important;
  }

  .head-64 {
    font-size: 3rem !important;
  }
}

@media (max-width: 1023px) and (min-width: 720px) {
  .head-56 {
    font-size: 2rem !important;
  }

  .head-64 {
    font-size: 2.25rem !important;
  }

  .real-estate {
    margin-top: -0.5rem !important;
  }

  .project-btn {
    font-size: 0.75rem !important;
  }

  .marginRight {
    margin-right: -35px !important;
  }

  .sales-logo {
    background-position: -0.5rem 1rem !important;
  }
}

@media (max-width: 719px) and (min-width: 320px) {
  .head-14 {
    font-size: 0.81rem;
  }

  .head-56 {
    font-size: 1.56rem !important;
  }

  .project-btn {
    font-size: 1.12rem !important;
  }

  .head-64 {
    font-size: 1.78rem !important;
  }
}
